:root {
    --laber-bgr-color: #000000;
    --social-footer-color: rgba(255, 255, 255, 0.6);
    --logo-second-color: #ffffff;
    --logo-first-color: #2196F3;
    --tatle-text-color: #212121;
    --dark-bg-color: #2F303A;
    --section-color: #E5E5E5;
    --section-bg-our-work: #F5F4FA;
    --section-mail-color: #757575;
    --focus-color: #EEEEEE;
}
body {
font-family: "Roboto" , sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
/* background-color: var(--section-color); */
}
.footer {
    background: var(--dark-bg-color);
}
.header {
    background-color: var(--logo-second-color);
}
.section-our-team {
    background-color: var(--section-bg-our-work);
}
main {
    background-color: var(--section-color);
}
.logo {
text-decoration: none;    
font-style: 700;
font-size: 26px;
Line-height: 1.2;
Line-height: 100%;
text-align: Left;
Vertical-align: Top;
Letter-spacing: 3%;
}
.logo-first-color {
    color: var(--logo-first-color);
}
.logo-second-color {
    color: var(--laber-bgr-color);
}

.list-link {
    color: var(--tatle-text-color);
    text-decoration: none;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-align: left;
}

.list-link:hover,.list-link:focus {
    color: var(--logo-first-color);
}
.list-first:hover {
    color: var(--logo-first-color);
}
.list-first {
color: var(--section-mail-color);
text-decoration: none;
}
ul {
    list-style: none;
}
/* huro */
.section-huro {
    background-color: var(--dark-bg-color);
    text-align: center;
}
.section-huro .title {
 color: var(--logo-second-color);
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 1.36;
letter-spacing: 0.06em;
}

.button[type="button"] {
    color: var(--logo-second-color);
    background-color: var(--logo-first-color);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 1.9;
letter-spacing: 0.06em;
cursor: pointer;
}
/* second section */
.page {
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.7;
text-align: left;
color: var(--section-mail-color);
}
.title-list {
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.14;
text-align: left;
color: var(--tatle-text-color);
}
/* section three */
.title {
    color: var(--tatle-text-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;    
}
.name {
    color: var(--tatle-text-color);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.9;
text-align: center;
}
.name-proffesion {
    color: var(--section-mail-color);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.9;
text-align: center;
}
/* footer */
.address {
    color: var(--logo-second-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.7;
text-align: left;
}
.inform {
    color: var(--social-footer-color);
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    text-align: left;
}
/* portfoloi */

.button-portfolio {
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.6;
text-align: center;
cursor: pointer;
color: var(--tatle-text-color);
background-color: var(--section-bg-our-work);
height: 38px;
width: 128px;
left: 576px;
top: 174px;
border-radius: 4px;
}
.button-portfolio:hover {
    background-color: var(--logo-first-color);
}
.button-portfolio:focus {
    /* background-color: var(--focus-color); */
}
.list-portf {
text-decoration: none;
}
.title-portf {
    color: var(--tatle-text-color);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;
}
.list-portf + li{
    text-decoration: none;
}
.title-portf + p{
color: var(--section-mail-color);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.9;
text-align: left;
}
.list-link.carrent {
    color: var(--logo-first-color);
}
a {
    text-decoration: none;
}